<!DOCTYPE html>
<head>
    <title>
        Home
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">   
</head>
<body>

<div class="ui secondary  menu">
    <a class="active item" href="/landing">
      Home
    </a>
    <a class="item">
      About
    </a>
    <a class="item">
      Contact
    </a>
    <a class="item" href="/receipts">
       Receipts
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
        </div>
       <% if(currentUser) { %> 
            <a class="ui item">
                Signed in as <a href="/users/<%= currentUser._id %>"><%= currentUser.username %></a> 
            </a>  
            <a class="ui item" href="/logout">
                Log out
            </a>  
        <% } else {  %>    
              <a class="ui item" href="/login">
                  Log in
              </a>
              <a class="ui item" href="/register">
                  Sign up
              </a>
        <%  }   %>
    </div>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">      
    <div class="ui grid container">
      <div class="row">
          <a href="/receipts/new">Add a new receipt</a>
      </div>
     <%  receipts.forEach(function(receipt){   %>
        <div class="four wide column">
            <!-- <div class="thumbnail"> -->
                <h3 ui block header><a href="/receipts/<%= receipt._id %>"><%= receipt.foodName %></a> by <%=  receipt.author %></h3>  
                <a href="/receipts/<%= receipt._id %>"><img class="ui fluid medium rounded image" src="<%=receipt.image %>"></a>
                <h4><%=  receipt.ingredients %></h4>
            </div>
        <!-- </div> -->
     <% })  %>
    </div>         
</div>


<% include ../partials/footer %>


